.text {
	font-family: "Stack Sans Text", sans-serif;
}

#kuzmatext {
	font-weight: 1000;
}

#kuzma {
    border-radius: 2000px;
    border-color: black;
    border-style: solid;
	width: 500px;
}

.navigation {
    display: inline-block;
    text-decoration: none;
}

.navdiv {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navtext {
    margin: 0;
    display: flex;
    color: white;
    text-align: center;
}

.navdiv:hover {
	width: 100px;
}

.navtext:hover {
	font-size: 20px;
}

#canvas {
    width: 1200px;
    height: 800px;
}

#para1 {
	font-size: 24px;
	color: blue;
	background-color: orange;
}

#para2 {
	font-size: 12px;
	color: yellow;
	background-color: purple;
}

#para3 {
	font-size: 36px;
	color: red;
	background-color: green;
}

.pause {
	padding: 100px;
}