.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#kuzma {
    border-radius: 2000px;
    border-color: black;
    border-style: solid;
	width: 500px;
}

.navigation {
    display: inline-block;
    text-decoration: none;
}

.navdiv {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navtext {
    margin: 0;
    display: flex;
    color: white;
    text-align: center;
}

#canvas {
    width: 1200px;
    height: 800px;
}